@* UTF-8 *@
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Pareja duraderas (Beta)</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="recomendaciones">
                <span class="bi bi-heart-fill-nav-menu" aria-hidden="true"></span> Recomendaciones
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="proyecto-de-vida">
                <span class="bi bi-briefcase-fill-nav-menu" aria-hidden="true"></span> Proyecto de vida
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="circulos-sociales-limitados">
                <span class="bi bi-people-fill-nav-menu" aria-hidden="true"></span> Círculos sociales
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="mirada-en-el-dinero">
                <span class="bi bi-wallet-fill-nav-menu" aria-hidden="true"></span> Mirada en el dinero
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dios-te-tiene-soltero">
                <span class="bi bi-star-fill-nav-menu" aria-hidden="true"></span> ¿Soltero(a)?
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="por-que-los-hombres-se-alejan">
                <span class="bi bi-person-x-fill-nav-menu" aria-hidden="true"></span> ¿Hombres se alejan?
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="deberias-pedir-perdon">
                <span class="bi bi-chat-dots-fill-nav-menu" aria-hidden="true"></span> ¿Pedir perdón?
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="rechazar-es-rechazarnos">
                <span class="bi bi-x-octagon-fill-nav-menu" aria-hidden="true"></span> ¿Te rechazas?
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fuera-de-tu-liga">
                <span class="bi bi-star-half-nav-menu" aria-hidden="true"></span> ¿Fuera de tu liga?
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pareja-igual-padres">
                <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> ¿Padre o madre?
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="asumes-demasiado">
                <span class="bi bi-chat-left-dots-fill-nav-menu" aria-hidden="true"></span> ¿Asumes mucho?
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="buscas-pastor">
                <span class="bi bi-person-badge-fill-nav-menu" aria-hidden="true"></span> ¿Buscas pastor?
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="madurez-espiritual-mayor">
                <span class="bi bi-award-fill-nav-menu" aria-hidden="true"></span> Madurez espiritual
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="https://empatia.pticostarica.com/" target="_blank">
                <span class="bi bi-briefcase-fill-nav-menu" aria-hidden="true"></span> Empatía (Externo)
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
